doctype html  
html(lang='en')  
  head
    style
     include invoices.css
    title Invoices
  body
    div.user-block
     p.user= user
     a(href='/logout') Log out
    div.invoices 
      table
        tr 
          th name
          th description 
          th status
          th due date
          th pay now
          th paid date
        each i in invoices
         tr 
          td= i.customer_name
          td= i.description
          if i.paid_status == 'paid'
           td.paid= i.paid_status
          else 
           td.unpaid= i.paid_status
          td= i.pay_date 
          td 
           button.pay-button 
            a(href=`/pay/${i._id}`) £
          if(i.paid_date)  
          td= i.paid_date 
    div.add-new.cusr        
      a(href='/create') 
        button.custom-button add new