doctype html  
html(lang='en')  
  head
    style
     include invoices.css
    title Invoices
  body
   a(href='/logout') Log out
   p.user= user
    div.invoices 
      table
        tr 
          th name
          th description 
          th status
          th pay
        each i in invoices
         tr 
          td= i.customer_name
          td= i.description
          if i.paid_status == 'paid'
           td.paid= i.paid_status
          else 
           td.unpaid= i.paid_status
          td 
            form(action='/pay?_method=PUT' method="post" enctype='x-www-form-urlencoded')
             button(type='submit') $
    div.add-new        
      a(href='/create') 
        button add new